
/* additional style sheet to enable html sections and subsections (h1, h2, ...) numbering */

body {
	counter-reset: h1counter;
}

h1 {
	counter-reset: h2counter;
	font-size: 120%;
}
h2:not(.groupheader) {
	counter-reset: h3counter;
	font-size: 110%;
	margin-left: 2ex;
}
h1:before {
	content: counter(h1counter) "\0000a0-\0000a0";
	counter-increment: h1counter;
	counter-reset: h2counter;
}
h2:not(.groupheader):before {
	content: counter(h1counter) "." counter(h2counter) "\0000a0-\0000a0";
	counter-increment: h2counter;
}
h3:before {
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "\0000a0-\0000a0";
	counter-increment: h3counter;
}

/* doxygen subsubsection */
h3 { margin-left:3em; font-size:100%; }

/* Add some padding to the embedded code snippets */
div.fragment { padding:1ex; margin-right:20%; background-color: #ccc; border: solid 1px black; width: 50em;  }
pre.fragment { padding:1ex; margin-right:20%; background-color: #ccc; border: solid 1px black; width: 50em; }


/* write inlined code-fragments with a light colored background */
p code { background-color:#ccc; padding:2px;}


div.contents { margin-left:3em; width:80em; }
