/*html { font-family: helvetica, verdana; }*/


li {
	font-weight: normal;
	font-style: normal;
}

li.eventlist_A {
	font-weight: bold;
}

li.eventlist_B {
	font-weight: normal;
	font-style: italic;
}

h3 {
	margin-bottom: 1ex;
}

hr { page-break-after:always; }

table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
	border-collapse:collapse;
	font-size:9pt;
}

/*
Tables have all columns of same width, so the first column needs a width attribute!
*/
th.firstcol {
	width:3em;
}
th.firstcol_gw {
	width:2em;
}
th.firstcol_ws {
	width:2em;
}
th.firstcol_gs {
	width:2em;
}

/* for page title inside page header table */
table.page_header, h1 {
	font-size:12pt;
}
table.page_header {
	width:100%;
	margin-bottom: 1ex;
}

table#ical ul {
	text-align:left;
}

th, td {
    border: 1px solid #555;
    overflow: hidden;
    width: 250px;
	vertical-align:middle;
	text-align:center;
/*	word-wrap: break-word;*/
	min-height: 140 px;
}

td.specialevent { background-color:#eee; }

td.conflicted {
	background-color:#333333;
	color:#FFFFFF;
}

/* used to have a minimum height in table cells */
div.minh {
	min-height:50px;
}

th {
	background-color:green;
	color:white;
	font-size:11pt;
}

td.timeslot
{
	vertical-align:top;
}

td.total
{
	font-weight:bold;
}


td.c0 { background-color:#ddd; }

/* bdd */
td.c1 { background-color:#bdd; }
td.c2 { background-color:#dbd; }
td.c3 { background-color:#ddb; }

/* bfd */
td.c4 { background-color:#fdb; }
td.c5 { background-color:#dbf; }
td.c6 { background-color:#bfd; }

/* 9db */
td.c7 { background-color:#9db; }
td.c8 { background-color:#db9; }
td.c9 { background-color:#b9d; }

/* 9df */
td.c10 { background-color:#9df; }
td.c11 { background-color:#f9d; }
td.c12 { background-color:#df9; }

/* 9bb */
td.c13 { background-color:#9bb; }
td.c14 { background-color:#bb9; }
td.c15 { background-color:#b9b; }

/* 9dd */
td.c16 { background-color:#9dd; }
td.c17 { background-color:#dd9; }
td.c18 { background-color:#d9d; }

/* 9bd */
td.c19 { background-color:#9bd; }
td.c20 { background-color:#d9b; }
td.c21 { background-color:#bd9; }

/* 9bf */
td.c22 { background-color:#9bf; }
td.c23 { background-color:#f9b; }
td.c24 { background-color:#bf9; }

/* bff */
td.c25 { background-color:#ffb; }
td.c26 { background-color:#fbf; }
td.c27 { background-color:#bff; }


table.tsw td { padding-left:1%; padding-right:1%; }

tr.nbb { border-bottom-style: hidden; }
tr.nbt { border-top-style: hidden; }

td.tal { text-align:left; }
td.tar { text-align:right; }

tr.sw_sumline { background-color:#ddd; font-weight:bold; }
td.sw_sumcol { font-weight:bold;}

.blw { border-left-width:2px; }
.brw { border-right-width:2px; }

/* for cells holding a comment, that that they appear clearly as so */
td.comment{
	border-left-width:2px;
	border-left-color:blue;
	border-right-width:2px;
	border-right-color:blue;
}

th a { color:white; }

/* div holding links on week numbers */
div.head-week-links
{
	margin-bottom:1em;
}
div.head-week-links table{
	width: auto;
}
div.head-week-links td{
	padding: 0.5em;
	width: auto;
}

span.sum_ref_ratio {
	font-size:80%;
}

table.table_ws
{
    table-layout: auto;
    width: 100%;
}

/* Hovering mouse over non-empty cells will make them show out */
table.cal td.cne:hover
{
	border:2px solid black;
}

/* in week table links on each week, the current week is highlighted */
div.head-week-links td.currentw {
	background-color:#ccc;
	font-weight:bold;
}
div.head-week-links td:hover {
	background-color:#dee;
	font-weight:bold;
}
