/* holds specific styles for printing */


@media print
{
/* This is to avoid have a blank page before the week when printing */
	hr { page-break-after:avoid; }

	div#div-header
    {
        display: none !important;
    }
    div.navbar /* don't print previous/next links */
    {
        display: none !important;
    }
	div#footer
	{
        display: none !important;
	}
	div.head-week-links
	{
		display: none !important;
	}
}


