
h3 {
	margin-bottom: 1ex;
}

table{
    border: 1px solid black;
    table-layout: auto;
/*    width: 400px;*/
	border-collapse:collapse;
	font-size:9pt;
	page-break-after:always;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 250px;
	vertical-align:middle;
	text-align:center;
/*	word-wrap: break-word;*/
	min-height: 140 px;
}

/* used to have a minimum height in table cells */
div.minh {
	min-height:50px;
}

th {
	background-color:#108010;
	color:white;
	font-size:11pt;
}

tr.small
{
	font-size:60%;
}

/* Last lines of tables (holding sums) have a different look */
tr.sums {
	background-color:#AA4; font-weight: bold;
}

/* volume reference line in subject summary */
tr.reference {
	color: blue;
}

/* oddlines in tables are greyed */
tr.oddline {
 background-color: #eee;
}

tr.sum_line {
 background-color: #8CC;
 font-weight: bold;
 color: #111;
}
/* cells (td) that are inside the line (tr) of class "sum_line" */
tr.sum_line td {
 border-bottom-width:2px;
}

tr.sum-line_div {
 background-color: #DEE;
 font-weight: bold;
 color: #202;
}

td.timeslot
{
	vertical-align:top;
}
/*
	Colors, see http://www.w3schools.com/html/html_colornames.asp
*/
td.empty {
	color:#b0b0b0;
}

